.box1 {
    width: 300px;
    height: 300px;
    padding: 49px;
    border: 1px black solid;
    background-color: grey;
}

.box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 49px;
    background-color: yellow;
}

.box3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 49px;
    background-color: blueviolet;
}

.box4 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #f8ccbf;
}

body {
    margin: 10px;
}