 li {
    list-style: none;
    width: 30px;
    height: 30px;
    border: 2px solid #f0f0f0;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-right: none;
 }

.previous-page {
    width: 90px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.next-page {
    width: 90px;
    border-right: 2px solid #f0f0f0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    font-size: 0;
}